<body style="margin: 200px 0px 0px 300px">
    <h1 >
        There is Some Error with the value you have entered
    </h1>
    <form action="/movies">
        <button style="margin: 0px 0px 0px 350px">Home</button>
    </form>
</body>